@import '~codemirror/lib/codemirror.css';
@import "~codemirror/theme/darcula.css";
@import "~codemirror/theme/material.css";
@import "~codemirror/theme/material-darker.css";
@import "~codemirror/theme/idea.css";
@import "~codemirror/theme/3024-night.css";
/* @import "~codemirror-one-dark-theme/one-dark.css"; */
@import "~codemirror/addon/hint/show-hint.css";
@import "~codemirror/addon/search/matchesonscrollbar.css";
@import "~codemirror/addon/dialog/dialog.css";
@import "~codemirror/addon/lint/lint.css";


body, html, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #2c2f33;
    /* color: rgba(0, 0, 0, 0.65) !important; */
    color: #c1c1c2 !important; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

}



.CodeMirror {

  height: 100%;
  max-width: 100%;
  overflow: auto !important; 


    /* margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; */

  /* width: 100%; */
  /* position: absolute !important;
  top: 0;
 
  right: 0;
  left: 0; */

  /* height: 50%; */
  

    /* height: 700px !important; */
    /* max-width: 100% !important; */
    /* height: 100% !important; */
    /* height: calc(100% - 30px); */
    
    /* overflow: auto; */
    
    /* font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace !important; */
}

::-webkit-scrollbar {
    /* width: 0px;   */
    display: none;
  }

  /* for Split Pane */

  .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }
  
  .Resizer {
    box-sizing: border-box;
    /* background: #000; */
    opacity: 0.5;
    z-index: 1;
    background-clip: padding-box;
  }

.row {
  height: calc(100% - 25px) !important;
}